@font-face { 
  font-family: News Cycle; 
    src: url('../fonts/NewsCycle-Regular.eot'); 
    src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf'); 
} 

html { 
  height: 100%;
}

* { 
  margin: 0;
  padding: 0;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

body { 
  font: normal .85em arial, sans-serif;
  background: #000 url(../images/back.jpg) no-repeat top;
  color: #EEE;
}

p { 
  padding: 0 0 20px 0;
  line-height: 1.5em;
}

img { 
  border: 0;
}

h1, h2, h3, h4, h5, h6 { 
  font: normal 200% 'News Cycle', arial, sans-serif;
  color: #FFF;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
}

h2 { 
  font: normal 200% 'News Cycle', arial, sans-serif;
  color: #FFF;  
  margin: 0;
  padding: 0 0 8px 0;
}

h3 { 
  font: normal 125% 'trebuchet ms', arial, sans-serif;
}

h4, h5, h6 { 
  margin: 0;
  padding: 0 0 5px 0;
  font: normal 110% arial, sans-serif;
  color: orange;
  line-height: 1.5em;
}

h5, h6 { 
  font: italic 95% arial, sans-serif;
  color: #888;
  padding-bottom: 15px;
}

h6 { 
  color: #362C20;
}

a, a:hover { 
  outline: none;
  color: #01C6FF;
  text-decoration: underline;
}

a:hover { 
  text-decoration: none;
  color: #01C6FF;
}

ul { 
  margin: 2px 0 22px 17px;
}

ul li { 
  list-style-type: circle;
  margin: 0 0 0 0; 
  padding: 0 0 4px 5px;
}

ol { 
  margin: 8px 0 22px 20px;
}

ol li { 
  margin: 0 0 11px 0;
}

.left { 
  float: left;
  width: auto;
  margin-right: 10px;
}

.right { 
  float: right; 
  width: auto;
  margin-left: 10px;
}

.center { 
  display: block;
  text-align: center;
  margin: 20px auto;
}

#main, header, #logo, nav, #site_content, footer { 
  margin-left: auto; 
  margin-right: auto;
}

#container { 
  background: transparent url(../images/footer_image.jpg) no-repeat bottom;
  padding-bottom: 40px;
}

#main { 
  margin: 50px auto;
  width: 1000px;
  background: transparent;
  padding-bottom: 30px;
}

header { 
  width: 950px;
  height: 105px;
}

#logo { 
  width: 200px;
  float: left;
  height: 107px;
  background: transparent;
  padding: 0 0 10px 0;
}

#logo h1 { 
  font: normal 330% 'News Cycle', arial, sans-serif;
  padding: 37px 0 0 20px;
  color: #FFF;
  letter-spacing: -2px;
}

#logo h1 a { 
  color: #01C6FF;
  text-decoration: none;
}

#logo h1 a:hover { 
  color: #FFF;
  text-decoration: none;
}

nav { 
  height: 26px;
  width: 740px;
  margin: 1px auto 0 auto;
  float: right;
  padding: 35px 0 0 0;
} 

#site_content { 
  width: 910px;
  overflow: hidden;
  margin: 4px auto 20px auto;
  padding: 20px;
  border-top: 0;
  border-bottom: 0;
  background: transparent url(../images/transparent.png);
  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border: 16px 16px 16px 16px;
} 

#sidebar_container { 
  float: right;
  width: 250px;
  padding: 16px 0 0 0;
  height: 450px;
}

.sidebar { 
  float: right;
  width: 200px;
  margin: 0 0 17px 0;
  padding: 0 15px 5px 13px;
}
  
.sidebar h3 { 
  padding: 0 15px 20px 0;
  font: 200% 'News Cycle', arial, sans-serif;
  margin: 0 1px;
  color: #FFF;
}

.sidebar_item, .content_item { 
  padding: 15px 0;
}

#content { 
  text-align: justify;
  width: 650px;
  padding: 0 0 5px 0;
  margin: 0;
  float: left;
}

#content ul, .sidebar ul { 
  margin: 2px 0 5px 0px;
}

#content ul li, .sidebar ul li { 
  list-style-type: none;
  background: transparent url(../images/bullet.png) no-repeat left center;
  margin: 0 0 0 0; 
  padding: 2px 0 2px 28px;
  line-height: 1.5em;
}

footer { 
  width: 950px;
  font: normal 130% 'News Cycle',  arial, sans-serif;
  height: 90px;
  padding: 20px 0 5px 0;
  text-align: center; 
  color: #FFF;
  background: transparent url(../images/transparent.png);
  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border: 16px 16px 16px 16px;
}

footer p { 
  padding: 0 0 10px 0;
}

footer a, footer a:hover { 
  color: #FFF;
  text-decoration: underline;
}

footer a:hover { 
  color: #FFF;
  text-decoration: none;
}

.form_settings { 
  margin: 15px 0 0 0;
}

.form_settings p { 
  padding: 0 0 4px 0;
}

.form_settings span { 
  float: left; 
  width: 200px; 
  text-align: left;
}
  
.form_settings input, .form_settings textarea { 
  padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #C6E7F0; 
  background: #EFF8FB; 
  color: #47433F;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;  
}
  
.form_settings .submit { 
  font: 140% 'News Cycle', arial, sans-serif; 
  border: 0; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 0 0 6px 0;
  cursor: pointer; 
  background: #1EC9F4; 
  -webkit-border-radius: .5em .5em .5em .5em ; 
  -moz-border-radius: .5em .5em .5em .5em ;
  border-radius: .5em .5em .5em .5em ;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);  
  color: #FFF;
  border: solid 1px #0D8AA9;
  background: #46C4DD;
  background: -webkit-gradient(linear, left top, left bottom, from(#63CFDF), to(#17B2D9));
  background: -moz-linear-gradient(top,  #63CFDF,  #17B2D9);
  text-shadow: 1px 1px #178497;
}

.form_settings textarea, .form_settings select { 
  font: 100% arial; 
  width: 299px;
}

.form_settings select { 
  width: 310px;
}

.form_settings .checkbox { 
  margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;
}

.separator { 
  width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;
}
  
table { 
  margin: 10px 0 30px 0;
}

table tr th, table tr td { 
  background: #70D4E6;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;
}
  
table tr td { 
  background: #D3F2F7;
  color: #47433F;
  border-top: 1px solid #FFF;
}

/* from here: http://www.gmarwaha.com/blog/2007/08/23/lavalamp-for-jquery-lovers */
.lavaLampWithImage {
  position: relative;
  height: 25px;
  padding: 10px 5px 15px 0;
  margin: 10px 0 0 0;
  overflow: hidden;
  float: right;
}

.lavaLampWithImage li {
  float: left;
  list-style: none;
}

.lavaLampWithImage li.back {
  background: transparent url(../images/transparent.png);
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  height: 36px;
  z-index: 8;
  position: absolute;
}

.lavaLampWithImage li a {
  font: normal 160% 'News Cycle', sans-serif;
  text-decoration: none;
  color: #FFF;
  outline: none;
  text-align: center;
  letter-spacing: 0;
  z-index: 10;
  display: block;
  float: left;
  height: 36px;
  padding: 0 7px 0 7px;
  position: relative;
  overflow: hidden;
  margin: auto 10px;    
}

.lavaLampWithImage li a:hover, .lavaLampWithImage li a:active, .lavaLampWithImage li a:visited {
  border: none;
}
