.homepage section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

.computer-template {
    display: inline-block;
    margin: 40px;
}

.grdRepeater {
    display: inline-block;
    margin: 40px;
    overflow:scroll;
}
.pnlCreateComputer {
    display: inline-block;
    margin: 40px;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}

#pnlMain {
	display: -ms-inline-grid;
	-ms-grid-columns: 380px max-content;
}

#pnlCreateComputer {
	-ms-grid-column: 1;
}

#grdRepeater {
	-ms-grid-column: 2;
	display: inline-block;
	width: 80%;
	overflow-x: scroll;
	height: 50%;
}
